*{
    margin:0px;
    padding:0px;
    font-family: "Segoe UI";
}
a{
    text-decoration: none;
}
img{
    border-radius: 3px;
}
#wrapper{
    display:flex;
    flex-direction: column;
    width:100%;
}
#logo{
    flex-basis:180px;
    height:98px;
}
#header{
    display:flex;
    width:100%;
    border-bottom: 4px #004daf solid;
    justify-content: space-evenly;
}
li{
    list-style: none;
}
nav{
    display:flex;
    justify-items: center;
    align-items: center;
    flex-basis:55%;
    margin-bottom:1px;
    max-height: 98px;
    margin-left: 60px;
}
nav > ul{
    display:flex;
    flex-basis:100%;
    justify-content: space-between;
}
nav > ul > li{
    display:flex;
    padding:0 15px;
    background: #004daf;
    justify-content: space-between;
    align-content: space-between;
    max-height: 98px;
    border-radius: 0 0 10px 10px;
}
nav > ul > li > a{
    display:flex;
    text-align: center;
    padding:35px 0;
    color:ivory;
    font-size:20px;
    justify-self: center;
    align-self: center;
    font-family: "Segoe UI Semibold";
}
nav ul li:hover{
    animation: nav 1s infinite;
}
@keyframes nav{
    from{background-color: #004daf; }
    to{ background-color: #0088ff; }
}
#criteria {
    flex-basis: 20%;
    display: flex;
    align-items: center;
    margin-left: 30px;
}
#search{
    margin:20px;
    padding:4px;
    font-size: 18px;
    outline: #00adff;
    border-radius: 5px;
}
.fa-search{
    justify-content: flex-end;
}
#container{
    display: grid;
    grid-template-areas: "left-side articles right-side";
    width:100%;
    justify-content: space-between;
}
#left-side{
    display:flex;
    width:20%;
}
#left-side ul {
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-content: space-around;
    align-items: center;
}
#left-side ul li{
    padding:20px;
    border-radius:0px 20px 20px 0px;
    justify-self: center;
    justify-content: space-between;
    margin-top:30px;
    background-color: #993423;
    width:150px;

}
#left-side ul li:first-child{
    margin-top:1px;
}
#left-side > ul > li > h3{
    color:ivory;
    font-size:28px;
    cursor: pointer;
    font-weight: normal;
}
.hide{
    display: none;
}
#left-side > ul > li > ul > li > a{
    color:white;
    text-transform: capitalize;
    font-size: 16px;
}
#left-side > ul > li > ul > li{
    padding:1px 5px;
    margin:2px;
}
#articles{
    display:grid;
    width:95%;
    align-content: baseline;
    justify-content: center;
}
.item{
    display:grid;
    flex-direction: row;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "img left-container";
    max-height: max-content;
    justify-content: space-around;
    align-items: baseline;
    width:100%;
    margin-top:20px;
}
.img{
    align-self: center;
    justify-self: center;
}
.heading{
    margin-top:30px;
    text-align:center;
}
.text{
    padding-top: 10px;
    word-break:keep-all;
}
.date-com{
    display:flex;
    flex-basis:100%;
    align-items: center;
    justify-content: space-between;
}
.left{
    justify-items: flex-start;
}
.right{
    cursor: pointer;
}
.details{
    cursor: pointer;
    word-break: break-all;
}
.details:hover{
    text-decoration: underline;
}
.no-underline:hover{
    text-decoration: none;
    cursor: auto;
}
#right-side{
    display:flex;
    width:100%;
    flex-direction: column;
}
.sponsor{
    margin:2px 5px;
    flex-basis: 100%;
    max-height: max-content;
}
footer{
    display:flex;
    background-color: #004daf;
    width:100%;
    height:100%;
    justify-content: center;
    margin-top:2px;
    justify-items: center;
    align-items: center;
}
footer h6{
    justify-self: center;
    color:ivory;
    padding:20px;
    font-size:14px;
}
footer a{
    color:ivory;
    justify-self: flex-start;
    padding:20px 10px;
    font-size: 15px;
}
#autor{
    display:flex;
    width:100%;
    justify-content: center;
    align-content: center;
    margin-top:160px;
}
#autor_slika img{
    border-radius: 20px;
    justify-self: center;
    align-self: center;
}
#autor_tekst{
    justify-self: center;
    align-self: center;
    width:50%;
    padding:10px;
    font-size: 17px;
}
#autor_tekst h4{
    text-align: justify;
    color:rgb(61, 120, 200);
    padding:10px;
    font-size:20px;
    background-color:#e8edef;
    border-radius: 20px;
}
#kontakt input[type="text"]{
    margin:10px;
}
#kontakt_forma{
    display:flex;
    width:600px;
    text-align:center;
    margin:0 auto;
    padding:20px;
}
#kontakt_forma input {
    padding:5px;
    border-radius:5px;
    width:200px;
    margin-top: 20px;
}
#ime_korisnik{
    width:60%;
}
#prezime_korisnik{
    width:60%;
}
#kontakt_forma textarea{
    margin-top:20px;
    width:400px;
    height:250px;
    min-height: 250px;
    max-height: 250px;
    min-width: 400px;
    max-width: 400px;
    border-radius:10px;
    padding:10px;
    font-size:18px;
    margin-bottom: 5px;
}
.btn {
    padding: 10px 100px 10px 100px;
    font-size: 20px;
    background-color: #333333;
    color: #e5e5e5;
    border-radius: 20px;
    outline-color: transparent;
    margin: 0 auto;
}
.btn:hover{
    animation-name: btn;
    animation-duration: 1s;
    background: #009dff;
}
#kontaktOk{
    display:none;
}
.edit{
    padding:2px;
    background-color: dodgerblue;
    text-align: center;
    color:ivory;
    display:inline-block;
    border-radius:5px ;
    font-size: 17px;
    outline: transparent;
    position: sticky;
}
.del{
    padding:2px;
    background-color: darkred;
    text-align: center;
    margin-top:3px;
    color:ivory;
    font-size: 17px;
    border-radius:5px ;
}
#admin-news{
    display:grid;
    justify-items:center;
    align-items: center;
    width:100%;
    grid-template-columns: 1fr 1fr ;
    justify-content: space-around;
}
#admin-news .item{
    justify-content: space-between;
}
.ftr{
    color:white;
    text-align: center;
}
.ftr a:visited{
    color:white;
}
#no{
    justify-content: space-around;
    text-align: center;
    color:#993423;
}
.no-news{
    text-align: center;
}
.no-news h4{
    text-align: center;
}
.news{
    display:grid;
    width:800px;
    margin-top:10px;
}
.news .text p{
    text-align: justify;
    padding:2px;
    white-space:pre-line;
}
.ftr h5 a{
    color:white;
}
.refresh{
    cursor: pointer;
    font-size: 12px;
    padding-top: 20px;
}
#comment{
    margin-top:2px;
    margin-bottom:2px;
    width:500px;
    height:auto;
}
.center{
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    color:#004daf;
}
.comment-field{
    min-width: 450px;
    max-width: 450px;
    min-height: 90px;
    max-height: 90px;
    font-size: 17px;
    margin:10px;
    padding:5px;
    margin-left:30px;
    border-radius: 5px;
    outline-color: transparent;
}
.comments-btn{
    padding:5px 10px;
    background-color: #004daf;
    color:ivory;
    border-radius: 5px;
    outline: transparent;
    position:relative;
    left:430px;
}
.comment-user{
    font-size:12px;
    padding:2px;
    color:grey;
    width:200px;
}
.comment-content{
    border: 1px solid grey;
    border-radius: 5px;
    padding:4px 10px;
    width:400px;
    word-break: break-all;
}
.warning{
    color:ivory;
    background-color: #993423;
    margin-top:5px;
    text-align: center;
    padding:5px;
    display: none;
    border-radius: 20px;
}
.success{
    border-radius: 20px;
    color:ivory;
    margin-top:5px;
    text-align: center;
    padding:5px;
    display: none;
    background-color: darkgreen;
}
.forbidden{
    padding:5px 0;
}
.forbidden a{
    text-align: center;
    color:#ac1412;
}
.anketa{
    width:500px;
    padding-top:3px;
}
.fa-thumbs-down{
    color:#993423;
    cursor: pointer;
    margin-left:5px;
    width:max-content;
}
.fa-thumbs-up{
    margin-left:5px;
    color:green;
    cursor: pointer;
    width:max-content;
}
.fa-thumbs-down:hover{
    color: #dc141f;
}
.fa-thumbs-up:hover{
    color: limegreen;
}
.one{
    width:400px;
}
.red{
    color:red;
    margin-left:10px;
}
.green{
    color:green;
}
.fa-trash-alt{
    width:100px;
    text-align: right;
    padding-top:3px;
    cursor: pointer;
}
.comment-heading{
    font-size: 17px;
    color:#9e9e9e;
    width:300px;
    text-align: center;
}
.feedbackAdmin{
    text-align: center;
    color:#e5e5e5;
    padding:5px;
    font-size: 17px;
    font-weight: lighter;
    width:100%;
}
.ok{
    background:  linear-gradient(45deg, #00adff,#0077ff);
}
.er{
    background: linear-gradient(45deg, crimson ,#ac1412);
}